***DATA MANIPULATION AND ANALYSIS USING PANDAS***

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
#Importing of pandas library
import pandas as pd

Basic operations using pandas

In [ ]:
#Creating a new DataFrame
df1 = pd.DataFrame({'A':[1,2,3,4],'B':['hello','how','are','you']})

In [ ]:
df1

   A      B
0  1  hello
1  2    how
2  3    are
3  4    you

Data Frame is being created, where [ A,B ] are the names of columns

In [ ]:
df1.columns

Index(['A', 'B'], dtype='object')

*** Loading of the data ***

In [31]:
df = pd.read_csv("hp_data.csv")
df=df.rename(columns={'Unnamed: 0':'Id'})

*** Data Exploration ***

In [32]:
df.head()

#View top rows

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [33]:
df.tail()

#View bottom rows

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2

In [34]:
df.head(300)

#view first 300 rows

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
...,...,...,...,...,...,...,...,...,...,...
295,2568,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
296,1262,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
297,1585,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
298,1605,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
299,1243,15000000,Devarabeesana Halli,Super built-up Area,1672,Resale,10,6,10,6

In [35]:
df.describe()

#Statistics Summary

,Id,price,sqft,yearsOld,floor,totalFloor,bhk
count,3500.000000,3.500000e+03,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,1484.225714,8.067807e+06,1538.163143,7.602000,4.197714,6.371429,4.197714
std,852.423418,4.984973e+06,416.264178,3.803196,4.782410,4.461808,4.782410
min,0.000000,3.800000e+06,1019.000000,1.000000,1.000000,4.000000,1.000000
25%,737.750000,4.800000e+06,1200.000000,5.000000,1.000000,4.000000,1.000000
50%,1492.000000,6.600000e+06,1543.000000,5.000000,3.000000,4.000000,3.000000
75%,2218.250000,1.050000e+07,1784.000000,10.000000,4.000000,5.000000,4.000000
max,2944.000000,4.750000e+07,4856.000000,15.000000,18.000000,29.000000,18.000000

In [36]:
df.dtypes

#Kind of data present in each column

Id             int64
price          int64
place         object
built         object
sqft           int64
sale          object
yearsOld       int64
floor          int64
totalFloor     int64
bhk            int64
dtype: object

In [37]:
df.isnull().sum()

#Finding out the missing values count in each and every column

Id            0
price         0
place         0
built         0
sqft          0
sale          0
yearsOld      0
floor         0
totalFloor    0
bhk           0
dtype: int64

*** Data Selection ***

In [38]:
df['price']

#select a particular column --->>> df["name_of_column"]

0        6300000
1       11500000
2        3800000
3       10500000
4       11500000
          ...
3495     3800000
3496     6300000
3497     7350000
3498     4800000
3499     3800000
Name: price, Length: 3500, dtype: int64

In [39]:
df[['price','sqft']]

#Select multiple columns --->>> df[["column_1","column_2"]]

         price  sqft
0      6300000  1450
1     11500000  2190
2      3800000  1019
3     10500000  1857
4     11500000  2190
...        ...   ...
3495   3800000  1019
3496   6300000  1450
3497   7350000  1330
3498   4800000  1200
3499   3800000  1019

[3500 rows x 2 columns]

In [40]:
v = df[['price','sqft','bhk']]
v

         price  sqft  bhk
0      6300000  1450    1
1     11500000  2190    3
2      3800000  1019    2
3     10500000  1857    4
4     11500000  2190    3
...        ...   ...  ...
3495   3800000  1019    2
3496   6300000  1450    1
3497   7350000  1330    1
3498   4800000  1200    1
3499   3800000  1019    2

[3500 rows x 3 columns]

In [41]:
type(v)

pandas.core.frame.DataFrame

In [42]:
df['price'][1:100:3]

#Selecting rows with the help of indexing --->>> df.iloc[start_index : End_index : Jump]

1     11500000
4     11500000
7     15000000
10     3800000
13     4025000
16    10500000
19     7350000
22     4900000
25     4900000
28     4800000
31     4025000
34    11500000
37    10500000
40     4900000
43     4900000
46     7900000
49     7350000
52     7900000
55    15000000
58     7350000
61     6300000
64     4025000
67     4025000
70    11500000
73     7350000
76     7350000
79    11500000
82    11500000
85     4900000
88     7900000
91    15000000
94     4900000
97     4800000
Name: price, dtype: int64

In [43]:
df[['price','sqft']][1:50:4]

       price  sqft
1   11500000  2190
5   15000000  1672
9    4900000  1100
13   4025000  1543
17   7900000  1784
21  10500000  1857
25   4900000  1100
29   6300000  1450
33   3800000  1019
37  10500000  1857
41  11500000  2190
45   4800000  1200
49   7350000  1330

In [44]:
df.columns

#view of all the columns present in the dataset

Index(['Id', 'price', 'place', 'built', 'sqft', 'sale', 'yearsOld', 'floor',
       'totalFloor', 'bhk'],
      dtype='object')

In [45]:
df.iloc[1:5]

#Here we are selecting rows with the help of indexing

# iloc [1:5] ---->> Start from index 1 and go till index 4 (exclude last index from condition same like of indexing in any coding language)

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [46]:
df.iloc[0:5]

#start from 0th index and go till 4th index

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [47]:
df['bhk']>2

#Checking the condition for a column --->>> df["column_name"]condition

0       False
1        True
2       False
3        True
4        True
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: bhk, Length: 3500, dtype: bool

In [48]:
df[df['bhk']>2]

#Accesing of entire rows with the condition for particular column

# df[df['column_name']condition]

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
5,2783,15000000,Devarabeesana Halli,Super built-up Area,1672,Resale,10,6,10,6
7,88,15000000,Devarabeesana Halli,Super built-up Area,1672,Resale,10,6,10,6
...,...,...,...,...,...,...,...,...,...,...
3489,2785,4025000,Electronics City Phase 1,Super built-up Area,1543,Resale,10,3,4,3
3491,1629,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
3492,227,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
3493,1282,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
3494,595,15000000,Devarabeesana Halli,Super built-up Area,1672,Resale,10,6,10,6

*** Data Manipulation ***

In [66]:
#Adding of new column :


df['Interested'] = (df['bhk']>=2) & ( df['floor']<=2)
df

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,Interested
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,False
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
...,...,...,...,...,...,...,...,...,...,...,...
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1,False
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1,False
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True

In [56]:
df['address'] = df['price'] + df['place']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We are getting errors in the above case, this is because we are trying to add 2 different data types. Which is not possible.

In [67]:
df['address'] = df['place'] + " "+df['built']
df

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,Interested,address
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False,BTM Layout Super built-up Area
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False,Yelahanka Super built-up Area
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,False,Ambalipura Super built-up Area
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False,Yelahanka Super built-up Area
...,...,...,...,...,...,...,...,...,...,...,...,...
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False,BTM Layout Super built-up Area
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1,False,Yelachenahalli Super built-up Area
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1,False,Abbaiah Reddy Layout Built-up Area
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area

In [68]:
df['condition'] = df['sale'] +" " + df['place']
df

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,Interested,address,condition
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False,BTM Layout Super built-up Area,Resale BTM Layout
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False,Yelahanka Super built-up Area,Resale Yelahanka
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area,Resale Whitefield
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,False,Ambalipura Super built-up Area,Resale Ambalipura
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False,Yelahanka Super built-up Area,Resale Yelahanka
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area,Resale Whitefield
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False,BTM Layout Super built-up Area,Resale BTM Layout
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1,False,Yelachenahalli Super built-up Area,Resale Yelachenahalli
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1,False,Abbaiah Reddy Layout Built-up Area,Resale Abbaiah Reddy Layout
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True,Whitefield Super built-up Area,Resale Whitefield

In [69]:
df.dtypes

Id             int64
price          int64
place         object
built         object
sqft           int64
sale          object
yearsOld       int64
floor          int64
totalFloor     int64
bhk            int64
Interested      bool
address       object
condition     object
dtype: object

We can find that two different columns are added

In [70]:
# Now we ae deleting the newly added columns

df = df.drop(['address','condition'],axis=1)
df

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,Interested
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,False
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
...,...,...,...,...,...,...,...,...,...,...,...
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1,False
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1,False
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True

In [71]:
df.columns

Index(['Id', 'price', 'place', 'built', 'sqft', 'sale', 'yearsOld', 'floor',
       'totalFloor', 'bhk', 'Interested'],
      dtype='object')

In [72]:
df.shape

(3500, 11)

In [73]:
#Renaming of the columns

df = df.rename(columns={'Interested':'willing to buy'})

In [74]:
df

,Id,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,willing to buy
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,False
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,False
...,...,...,...,...,...,...,...,...,...,...,...
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,False
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1,False
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1,False
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,True

In [75]:
df['willing to buy'][0:4]

0    False
1    False
2     True
3    False
Name: willing to buy, dtype: bool