1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [6]:
def emp(x):
  if(len(x)==0):
    return False
  return True
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2=list(filter(emp,list1))
print(list2)

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [7]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [15]:

list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(0,len(list1)):
  if(list1[i]==20):
    list1[i]=200
    break

print(list1)

[5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [22]:
list1=[5, 20, 15, 20, 25, 50, 20]
i=0
while(i<len(list1)):
  if(list1[i]==20):
    list1.remove(20)
  else:
    i+=1
print(list1)

[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [23]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
l3=[]
for i in range(0,2):
  for j in range(0,2):
    l3.append(list1[i]+list2[j])
print(l3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']